// Font family
$font-family: 'Roboto', sans-serif;

// Text colors
$accent-color: #2196f3;
$main-text-color: #212121;
$second-text-color: #757575;
$third-text-color: #ffffff;
$fourth-text-color: rgba(255, 255, 255, 0.6);

// Block colors
$first-block-color: #2f303a;
$second-block-color: #f5f4fa;
$third-block-color: #ffffff;

// Border colors
$boder-color: #eeeeee;

// Container size
$container-size: 1200px;
$container-padding: 15px;

// Cubic-bezier
$cubic-value: cubic-bezier(0.4, 0, 0.2, 1);
