/* FOOTER CONTACTS */

.footer {
  background-color: $first-block-color;
  padding-top: 60px;
  padding-bottom: 60px;

  // @media screen and (min-width: 768px) {
  //   .container {
  //     display: flex;
  //     flex-wrap: wrap;
  //     align-items: baseline;
  //   }
  // }

  @media screen and (min-width: 1200px) {
    .container {
      display: flex;
      align-items: baseline;
    }
  }
}

.contact-social {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
  }

  @media screen and (min-width: 1200px) {
    margin-right: auto;
    align-items: baseline;
  }

  @media screen and (max-width: 1199px) {
    margin-bottom: 60px;
  }
}

.footer-contacts__logo {
  @extend %link;
  display: block;
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: $accent-color;
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.footer-contacts__logo-right {
  color: $third-text-color;
}

.footer-contacts__list {
  @extend %list;
  margin: 20px 0 0 0;
}

.footer-contacts__address-section {
  font-style: inherit;
  display: block;
  text-align: center;

  @media screen and (min-width: 1200px) {
    display: inline;
    text-align: left;
  }
}

.footer-contacts__address {
  @extend %link;
  font-size: 14px;
  line-height: 1.71;
  color: $third-text-color;

  @include traisitionEffect(color);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer-contacts__link {
  @extend %link;
  font-size: 14px;
  line-height: 1.71;
  color: $fourth-text-color;
  @include traisitionEffect(color);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footer-contacts__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-contacts-container {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
    margin-right: 70px;
  }
}

.footer-contacts__item + .footer-contacts__item {
  margin-top: 9px;
}
