html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font-family;
  color: $main-text-color;
  background: $third-block-color;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.section {
  padding-bottom: 60px;
  padding-top: 60px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  // width: $container-size;
  max-width: $container-size;
  padding-left: $container-padding;
  padding-right: $container-padding;
  min-width: 320px;

  &.works {
    display: none;
  }

  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    &.works {
      display: block;
    }
  }
}

.container > h2 {
  margin-bottom: 50px;

  @media screen and (max-width: 1199px) {
    margin-bottom: 30px;
  }
}
